
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$estilos: (
    color-blanco: white,
    ancho-iframe: 27rem, 
    ancho-form: 50rem,
);

@mixin alto($height) {
    height: $height;    
}

.nav__whiteLink {
    color: map-get($estilos , color-blanco );
    font-family: 'Permanent Marker', cursive; 
    text-decoration-line: none;
    font-size: large;
}


.parallax {
    background-image: url("../assets/img/image-running.jpg");
    margin-bottom: none;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-fixed-height {
    @extend .parallax;
    @include alto(50rem);
}


h1 {
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 800;
}


h3 {
    color: map-get($estilos , color-blanco );
    font-family: 'Permanent Marker', cursive; 
    text-decoration-line: none;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.footer-flex__redes__icons {
    @include alto(3rem);
}

iframe {
    width: map-get($estilos , ancho-iframe);
}

.form-span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.form-flex__formulario {
    background-color: map-get($estilos , color-blanco );
    width: map-get($estilos , ancho-form);
    border-radius: 1rem;
}

.form-flex__input {
    width: 95%;
    @include alto(1.25rem);
    margin-bottom: 1rem;
}

.section-quienes-somos {
    padding-top: 7rem;
}

@media screen and (min-width: 320px) {

    #headerLogo {
        width: 225px;
        @include alto(98px);
    }

    h3 {
        display: none;
    }

    iframe {
        width: 15rem;
    }

}



@media screen and (min-width: 768px) {


    #headerLogo {
        width: 225px;
        @include alto(98px);
    }

    h3 {
        display: block;
    }
  

    a { 
        transition: all 0.5s;
    }

    a:hover { 
        font-size:20px;  
    } 
    
 }